.vscode

# Python binaries
*.pyc

.idea/

# Sphinx
docs/_build
docs/_build_html

# OSX garbage
.DS_STORE

# Scrapy Cluster
kafka-monitor/logs/*
redis-monitor/logs/*
crawler/logs/*
crawler/main.log
localsettings.py

# Vagrant test VM
.vagrant
local/
bin/
pip-selfcheck.json

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# excess docker-compose files
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.override.yml

# backup files
*.bak
klag_conf.json