---

kafka_version: 0.9.0.0

kafka_install_dir: /opt/kafka
kafka_config_dir: /opt/kafka/default/config
kafka_log_dir: /opt/kafka/default/logs
kafka_data_log_dir:
  - /opt/kafka/topic-logs

kafka_port: 9092
kafka_message_max: 10000000
kafka_replica_fetch_max_bytes: 15000000
kafka_consumer_message_max: 16777216
kafka_num_partitions: "{{ groups['kafka'] | length }}"
kafka_replication_factor: "{{ groups['kafka'] | length }}"
kafka_log_retention_hours: 168
kafka_num_io_threads: 8

kafka_source: "http://archive.apache.org/dist/kafka"
