[unix_http_server]
file={{ supervisord_sock }}                         ; (the path to the socket file)
chmod=0700                                          ; sockef file mode (default 0700)

[supervisord]
logfile={{ supervisord_log_dir }}/supervisord.log   ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB                               ; maximum size of logfile before rotation
logfile_backups=10                                  ; number of backed up logfiles
loglevel=info                                       ; critical, error, warn, info, debug, trace, blather
pidfile=/var/run/supervisord.pid                    ; (supervisord pidfile;default supervisord.pid)
childlogdir={{ supervisord_log_dir }}               ; ('AUTO' child log dir, default $TEMP)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisord_sock }} ; use a unix:// URL  for a unix socket

[include]
files={{ supervisord_programs_dir }}/*.conf

[inet_http_server]
port = *:9001