[run]
omit=
  *redis/*
  *argparse.py
  *calendar*
  *contextlib*
  *ctypes*
  *distutils*
  *logging*
  *uuid*
  *cloghandler*
  *pythonjsonlogger*
  *pbr*
  *kafka*
  *funcsigs*
  *mock*
  *six*
  *getopt*
  *portalocker*
  *nose*
  *testfixtures*
  *_vendor*
  *kazoo*
  setup.py
  tests/*.py
  *version.py