[program:redis-sentinel]
command={{ redis_install_dir }}/default/bin/redis-server /etc/redis/sentinel.conf --sentinel
autostart=true
autorestart=true
user={{ redis_user }}
stdout_logfile=/var/log/redis/stdout.log
stderr_logfile=/var/log/redis/stderr.log
