.btn-lg,
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn
{
  line-height: 1.33;
  height: 50px;
}
.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:black;
  font-size: 30px;
  margin: 20px;
}
.btn
{
  margin: 60px;
}
.body-content
{
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial;
}