<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="uiApp">

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <style>
  .btn-lg,
  .input-lg,
  .input-group-lg>.form-control,
  .input-group-lg>.input-group-addon,
  .input-group-lg>.input-group-btn>.btn {
    line-height: 1.33;
    height: 50px;
  }
  .navbar-brand
  {
    font-family: 'Lato', sans-serif;
    color:black;
    font-size: 30px;
    margin: 20px;
  }
  .btn
  {
    margin: 60px;
  }
  </style>

  <!-- SPELLS -->
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="lib/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img alt="" src="logo.png">Scrapy Cluster</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <a href="http://scrapy-cluster.readthedocs.io/en/latest/" class="btn btn-primary btn-lg" role="button">Documentation</a>
      </ul>
    </div>
  </nav>


  <div id="main">

    <div class="container">
      <ul class="nav nav-tabs" ng-controller="tabsController">
        <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a href="{{tab.link}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
      </ul>
      <div ng-view></div>
    </div>
    
  </div>
  
  <footer class="text-center">
    <p>...</p>
  </footer>
  
</body>

</html>
